{% extends 'base.html' %}

{% block title %}
z-marketplace &mdash; it's all about buying and selling
{% endblock %}

{% block pagecontent%}
<section class="home-section">
    <div class="home-section__textbox">
        <h2 class="home-section__textbox--title">z-marketplace</h2>
        <p class="home-section__textbox--subtitle">we are all about buying and selling stuff.</p>
        <div class="home-section__textbox--links">
            <a href="{{ url_for('register_user') }}" class="home-section__textbox--link">sign up</a>
            <a href="" class="home-section__textbox--link">register a product</a>
        </div>
    </div>
</section>
{% endblock %}